In [1]:
# carregar biblioteca 
import pandas as pd
import seaborn as sns

## Leitura do conjunto de dados

### pinguins

In [2]:
df_titanic = sns.load_dataset('titanic')
df_titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

- DicionÃ¡rio de Dados

In [16]:
dicionario_titanic = pd.DataFrame([
    {
        "Nome": "survived",
        "Descricao":"Indica se o passageiro sobreviveu",
        "Tipo": "Qualitativo",
        "Subtipo": "Nominal",
    },
    {
        "Nome": "pclass",
        "Descricao":"Classe da passagem",
        "Tipo": "Qualitativo",
        "Subtipo": "Ordem",
    },
    {
        "Nome": "sex",
        "Descricao":"Indica o sexo do passageiro",
        "Tipo": "Qualitativo",
        "Subtipo": "Nominal",
    },
    {
        "Nome": "age",
        "Descricao":"Indica a idade do passageiro",
        "Tipo": "Quantitativo",
        "Subtipo": "Discreto",
    },
    {
        "Nome": "sibsp",
        "Descricao":"Numero de irmÃ£os/cÃ´njuges a bordo",
        "Tipo": "Quantitativo",
        "Subtipo": "Discreto",
    },
    {
        "Nome": "parch",
        "Descricao":"NÃºmero de pais/filhos a bordo.",
        "Tipo": "Quantitativo",
        "Subtipo": "Discreto",
    },
    {
        "Nome": "fare",
        "Descricao":"Tarifa paga pelo passageiro",
        "Tipo": "Quantitativo",
        "Subtipo": "ContÃ­nuo",
    },
    {
        "Nome": "embarked",
        "Descricao":"Porta de embarque do passageiro",
        "Tipo": "Qualitativo",
        "Subtipo": "Ordem",
    },
    {
        "Nome": "class",
        "Descricao":"Refere-se Ã  classe da passagem do passageiro",
        "Tipo": "Qualitativo",
        "Subtipo": "Ordem",
    },
    {
        "Nome": "who",
        "Descricao":"Indica o gÃªnero e idade do passageiro",
        "Tipo": "Qualitativo",
        "Subtipo": "Nominal",
    },
    {
        "Nome": "adult_male",
        "Descricao":"Indica se o passageiro Ã© adulto e do sexo masculino",
        "Tipo": "Qualitativo",
        "Subtipo": "Nominal",
    },
     {
        "Nome": "deck",
        "Descricao":" Representa o deck em que a cabine do passageiro estava localizada.",
        "Tipo": "Qualitativo",
        "Subtipo": "Nominal",
    },
     {
        "Nome": "embark_town",
        "Descricao":"Refere-se Ã  cidade de embarque do passageiro",
        "Tipo": "Qualitativo",
        "Subtipo": "Nominal",
    },
     {
        "Nome": "alive",
        "Descricao":"Indica se o passageiro sobreviveu.",
        "Tipo": "Qualitativo",
        "Subtipo": "Nominal",
    },
     {
        "Nome": "alone",
        "Descricao":"Indica se o passageiro estava viajando sozinho",
        "Tipo": "Qualitativo",
        "Subtipo": "Nominal",
    },

])

dicionario_titanic

,Nome,Descricao,Tipo,Subtipo
0,survived,Indica se o passageiro sobreviveu,Qualitativo,Nominal
1,pclass,Classe da passagem,Qualitativo,Ordem
2,sex,Indica o sexo do passageiro,Qualitativo,Nominal
3,age,Indica a idade do passageiro,Quantitativo,Discreto
4,sibsp,Numero de irmÃ£os/cÃ´njuges a bordo,Quantitativo,Discreto
5,parch,NÃºmero de pais/filhos a bordo.,Quantitativo,Discreto
6,fare,Tarifa paga pelo passageiro,Quantitativo,ContÃ­nuo
7,embarked,Porta de embarque do passageiro,Qualitativo,Ordem
8,class,Refere-se Ã classe da passagem do passageiro,Qualitativo,Ordem
9,who,Indica o gÃªnero e idade do passageiro,Qualitativo,Nominal
10,adult_male,Indica se o passageiro Ã© adulto e do sexo masc...,Qualitativo,Nominal
11,deck,Representa o deck em que a cabine do passagei...,Qualitativo,Nominal
12,embark_town,Refere-se Ã cidade de embarque do passageiro,Qualitativo,Nominal
13,alive,Indica se o passageiro sobreviveu.,Qualitativo,Nominal
14,alone,Indica se o passageiro estava viajando sozinho,Qualitativo,Nominal

- EstatÃ­stica de tendÃªncia central e dispersÃ£o

In [6]:
#FunÃ§Ãµes que calculam a moda, o intervalo e o intervalo interquartil

#FunÃ§Ã£o para calcular a moda
def mode(column):
    mode = column.mode()
    if not mode.empty: 
        return mode.iloc[0]
    else:
        return None
    
#FunÃ§Ã£o para calcular o intervalo
def intervalo(column):
    inter = column.max() - column.min()
    return inter

#FunÃ§Ã£o para calcular o intervalo interquartil
def intervalo_interquartil(column):
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    iqr = q3 - q1
    return iqr

In [7]:
# Lista para renomear o  titulo das colunas para melhor compreensÃ£o
titulo_tabela = {
    'mean': 'MÃ©dia',
    'median': 'Mediana',
    'std': 'Desvio PadrÃ£o',
    'var': 'VariÃ¢ncia',
    'mode': 'Moda',
    'intervalo': 'Intervalo',
    'intervalo_interquartil': 'Intervalo Interquartil'
}

In [12]:
# Filtrar apenas as colunas numÃ©ricas
numeric_columns  = df_titanic.select_dtypes(include=['number']).drop(columns=['survived', 'pclass'])

# Adicionado o calculo das medidas de tendÃªncia central e dispersÃ£o
tendencia_central_e_dispersao_values =  numeric_columns .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])

#Renomeando as colunas
tendencia_central_e_dispersao_values.rename(titulo_tabela, inplace=True)

#Imprimindo o DataFrame
tendencia_central_e_dispersao_values

                               age     sibsp     parch         fare
MÃ©dia                    29.699118  0.523008  0.381594    32.204208
Mediana                  28.000000  0.000000  0.000000    14.454200
Desvio PadrÃ£o            14.526497  1.102743  0.806057    49.693429
VariÃ¢ncia               211.019125  1.216043  0.649728  2469.436846
Moda                     24.000000  0.000000  0.000000     8.050000
Intervalo                79.580000  8.000000  6.000000   512.329200
Intervalo Interquartil   17.875000  1.000000  0.000000    23.089600

- Calculo estastÃ­tica de forma separada para cada variÃ¡vel categÃ³rica

In [13]:
# Filtrar apenas as colunas numÃ©ricas
numeric_columns  = df_titanic.select_dtypes(include=['number']).drop(columns=['survived', 'pclass']).columns

    - Por classe da passagem

In [14]:
# Adicionado o calculo das medidas de tendÃªncia central e dispersÃ£o
values_by_class = (
    df_titanic
    .groupby('class')[numeric_columns]
    .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])
)

#Renomeando as colunas
values_by_class = values_by_class.rename(columns = titulo_tabela)

#Imprimindo o DataFrame
values_by_class

              age                                                    \
            MÃ©dia Mediana Desvio PadrÃ£o   VariÃ¢ncia  Moda Intervalo
class
First   38.233441    37.0     14.802856  219.124543  35.0     79.08
Second  29.877630    29.0     14.001077  196.030152  24.0     69.33
Third   25.140620    24.0     12.495398  156.134976  22.0     73.58

                                  sibsp                        ... parch  \
       Intervalo Interquartil     MÃ©dia Mediana Desvio PadrÃ£o  ...  Moda
class                                                          ...
First                    22.0  0.416667     0.0      0.611898  ...     0
Second                   13.0  0.402174     0.0      0.601633  ...     0
Third                    14.0  0.615071     0.0      1.374883  ...     0

                                              fare                         \
       Intervalo Intervalo Interquartil      MÃ©dia  Mediana Desvio PadrÃ£o
class
First          4                    0.0  84.154687  60.2875     78.380373
Second         3                    1.0  20.662183  14.2500     13.417399
Third          6                    0.0  13.675550   8.0500     11.778142


          VariÃ¢ncia   Moda Intervalo Intervalo Interquartil
class
First   6143.482816  26.55  512.3292               62.57605
Second   180.026589  13.00   73.5000               13.00000
Third    138.724622   8.05   69.5500                7.75000

[3 rows x 28 columns]

    - Por gÃªnero

In [18]:
# Adicionado o calculo das medidas de tendÃªncia central e dispersÃ£o
values_by_sex = (
    df_titanic
    .groupby('sex')[numeric_columns]
    .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])
)

#Renomeando as colunas
values_by_sex = values_by_sex.rename(columns = titulo_tabela)

#Imprimindo o DataFrame
values_by_sex

              age                                                    \
            MÃ©dia Mediana Desvio PadrÃ£o   VariÃ¢ncia  Moda Intervalo
sex
female  27.915709    27.0     14.110146  199.096233  24.0     62.25
male    30.726645    29.0     14.678201  215.449579  19.0     79.58

                                  sibsp                        ... parch  \
       Intervalo Interquartil     MÃ©dia Mediana Desvio PadrÃ£o  ...  Moda
sex                                                            ...
female                   19.0  0.694268     0.0      1.156520  ...     0
male                     18.0  0.429809     0.0      1.061811  ...     0

                                              fare                        \
       Intervalo Intervalo Interquartil      MÃ©dia Mediana Desvio PadrÃ£o
sex
female         6                    1.0  44.479818    23.0     57.997698
male           5                    0.0  25.523893    10.5     43.138263


          VariÃ¢ncia  Moda Intervalo Intervalo Interquartil
sex
female  3363.732930  7.75  505.5792              42.928125
male    1860.909702  8.05  512.3292              18.654200

[2 rows x 28 columns]

    - Por gÃªnero e idade

In [15]:
# Adicionado o calculo das medidas de tendÃªncia central e dispersÃ£o
values_by_who = (
    df_titanic
    .groupby('who')[numeric_columns]
    .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])
)

#Renomeando as colunas
values_by_who = values_by_who.rename(columns = titulo_tabela)

#Imprimindo o DataFrame
values_by_who

             age                                                    \
           MÃ©dia Mediana Desvio PadrÃ£o   VariÃ¢ncia  Moda Intervalo
who
child   6.369518     5.0      4.729063   22.364041   2.0     14.58
man    33.173123    30.0     12.906908  166.588281  19.0     64.00
woman  32.000000    30.0     11.495441  132.145161  24.0     47.00

                                 sibsp                        ... parch  \
      Intervalo Interquartil     MÃ©dia Mediana Desvio PadrÃ£o  ...  Moda
who                                                           ...
child                    7.5  1.734940     1.0      1.638592  ...     1
man                     17.0  0.296089     0.0      0.850726  ...     0
woman                   16.0  0.601476     0.0      1.093685  ...     0

                                             fare                        \
      Intervalo Intervalo Interquartil      MÃ©dia Mediana Desvio PadrÃ£o
who
child         2                    1.0  32.785795   26.25     33.466438
man           5                    0.0  24.864182    9.50     44.021339
woman         6                    1.0  46.570711   23.25     60.318995


         VariÃ¢ncia    Moda Intervalo Intervalo Interquartil
who
child  1120.002500  31.275  204.1125               16.29375
man    1937.878308   8.050  512.3292               18.53330
woman  3638.381145   7.750  505.5792               54.50000

[3 rows x 28 columns]

    - Por porta de embarque

In [17]:
# Adicionado o calculo das medidas de tendÃªncia central e dispersÃ£o
values_by_embarked = (
    df_titanic
    .groupby('embarked')[numeric_columns]
    .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])
)

#Renomeando as colunas
values_by_embarked = values_by_embarked.rename(columns = titulo_tabela)

#Imprimindo o DataFrame
values_by_embarked

                age                                                    \
              MÃ©dia Mediana Desvio PadrÃ£o   VariÃ¢ncia  Moda Intervalo
embarked
C         30.814769    29.0     15.434860  238.234892  24.0     70.58
Q         28.089286    27.0     16.915396  286.130622  16.0     68.50
S         29.445397    28.0     14.143192  200.029876  24.0     79.33

                                    sibsp                        ... parch  \
         Intervalo Interquartil     MÃ©dia Mediana Desvio PadrÃ£o  ...  Moda
embarked                                                         ...
C                         18.75  0.386905     0.0      0.557213  ...     0
Q                         17.00  0.428571     0.0      0.979105  ...     0
S                         17.00  0.571429     0.0      1.216600  ...     0

                                                fare                        \
         Intervalo Intervalo Interquartil      MÃ©dia Mediana Desvio PadrÃ£o
embarked
C                3                    1.0  59.954144   29.70     83.912994
Q                5                    0.0  13.276030    7.75     14.188047
S                6                    0.0  27.079812   13.00     35.887993


            VariÃ¢ncia    Moda Intervalo Intervalo Interquartil
embarked
C         7041.390607  7.2292  508.3167              64.802075
Q          201.300677  7.7500   83.2500               7.750000
S         1287.948067  8.0500  263.0000              19.850000

[3 rows x 28 columns]

    - Por adulto do gÃªnero masculino

In [19]:
# Adicionado o calculo das medidas de tendÃªncia central e dispersÃ£o
values_by_adult_male = (
    df_titanic
    .groupby('adult_male')[numeric_columns]
    .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])
)

#Renomeando as colunas
values_by_adult_male = values_by_adult_male.rename(columns = titulo_tabela)

#Imprimindo o DataFrame
values_by_adult_male

                  age                                                    \
                MÃ©dia Mediana Desvio PadrÃ£o   VariÃ¢ncia  Moda Intervalo
adult_male
False       24.932458    24.0     15.275127  233.329505  24.0     62.58
True        33.173123    30.0     12.906908  166.588281  19.0     64.00

                                      sibsp                        ... parch  \
           Intervalo Interquartil     MÃ©dia Mediana Desvio PadrÃ£o  ...  Moda
adult_male                                                         ...
False                        21.0  0.867232     0.0      1.330360  ...     0
True                         17.0  0.296089     0.0      0.850726  ...     0

                                                  fare                        \
           Intervalo Intervalo Interquartil      MÃ©dia Mediana Desvio PadrÃ£o
adult_male
False              6                    1.0  43.338655   24.15     55.473168
True               5                    0.0  24.864182    9.50     44.021339


              VariÃ¢ncia   Moda Intervalo Intervalo Interquartil
adult_male
False       3077.272372  26.00  505.5792              39.291675
True        1937.878308   8.05  512.3292              18.533300

[2 rows x 28 columns]

    - Por passageiro que sobreviveram ou nÃ£o

In [20]:
# Adicionado o calculo das medidas de tendÃªncia central e dispersÃ£o
values_by_survived = (
    df_titanic
    .groupby('survived')[numeric_columns]
    .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])
)

#Renomeando as colunas
values_by_survived = values_by_survived.rename(columns = titulo_tabela)

#Imprimindo o DataFrame
values_by_survived

                age                                                    \
              MÃ©dia Mediana Desvio PadrÃ£o   VariÃ¢ncia  Moda Intervalo
survived
0         30.626179    28.0     14.172110  200.848698  21.0     73.00
1         28.343690    28.0     14.950952  223.530965  24.0     79.58

                                    sibsp                        ... parch  \
         Intervalo Interquartil     MÃ©dia Mediana Desvio PadrÃ£o  ...  Moda
survived                                                         ...
0                          18.0  0.553734     0.0      1.288399  ...     0
1                          17.0  0.473684     0.0      0.708688  ...     0

                                                fare                        \
         Intervalo Intervalo Interquartil      MÃ©dia Mediana Desvio PadrÃ£o
survived
0                6                    0.0  22.117887    10.5     31.388207
1                5                    1.0  48.395408    26.0     66.596998


            VariÃ¢ncia   Moda Intervalo Intervalo Interquartil
survived
0          985.219509   8.05  263.0000                18.1458
1         4435.160158  13.00  512.3292                44.5250

[2 rows x 28 columns]

    - Por passgeiros que viajavam sozinhos ou nÃ£o

In [21]:
# Adicionado o calculo das medidas de tendÃªncia central e dispersÃ£o
values_by_alone = (
    df_titanic
    .groupby('alone')[numeric_columns]
    .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])
)

#Renomeando as colunas
values_by_alone = values_by_alone.rename(columns = titulo_tabela)

#Imprimindo o DataFrame
values_by_alone

             age                                                    \
           MÃ©dia Mediana Desvio PadrÃ£o   VariÃ¢ncia  Moda Intervalo
alone
False  26.413452    26.0     15.834923  250.744797  18.0     69.58
True   32.220297    29.5     12.899871  166.406684  22.0     75.00

                                 sibsp                        ... parch  \
      Intervalo Interquartil     MÃ©dia Mediana Desvio PadrÃ£o  ...  Moda
alone                                                         ...
False                   21.0  1.316384     1.0      1.420774  ...     0
True                    17.0  0.000000     0.0      0.000000  ...     0

                                             fare                         \
      Intervalo Intervalo Interquartil      MÃ©dia  Mediana Desvio PadrÃ£o
alone
False         6                    2.0  48.832275  27.7500     55.307615
True          0                    0.0  21.242689   8.1375     42.223510


         VariÃ¢ncia   Moda Intervalo Intervalo Interquartil
alone
False  3058.932321  26.00  505.8334                41.0448
True   1782.824830   8.05  512.3292                 7.2250

[2 rows x 28 columns]